@use "sass:color";
@use "sass:map";

// https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/color-mix
// $test-90: color.adjust($test-100, $alpha: 0.9);
// $test-80: color-mix(in srgb, $test-100, #ffffff 80%);
$base-white: #ffffff;
$base-black: #222222;
$body: #edeef1;
$border: #d0d5dd;
$color: (
    "danger": (
        "25" : ( "background": #fffbfa, "color": #b42318, ),
        "50" : ( "background": #fef3f2, "color": #b42318, ),
        "100": ( "background": #fee4e2, "color": #b42318, ),
        "200": ( "background": #fecdca, "color": #b42318, ),
        "300": ( "background": #fda29b, "color": #ffffff, ),
        "400": ( "background": #f97066, "color": #ffffff, ),
        "500": ( "background": #f04438, "color": #ffffff, ),
        "600": ( "background": #d92d20, "color": #ffffff, ),
        "700": ( "background": #b42318, "color": #ffffff, ),
        "800": ( "background": #912d17, "color": #ffffff, ),
        "900": ( "background": #7a271a, "color": #ffffff, ),
    ),
    "primary": (
        "25" : ( "background": #e6eeee, "color": #024742, ),
        "50" : ( "background": #e6eeee, "color": #024742, ),
        "100": ( "background": #e6eeee, "color": #024742, ),
        "200": ( "background": #cddebb, "color": #024742, ),
        "300": ( "background": #b3cdcb, "color": #024742, ),
        "400": ( "background": #9abdba, "color": #024742, ),
        "500": ( "background": #689b98, "color": #ffffff, ),
        "600": ( "background": #035953, "color": #ffffff, ),
        "700": ( "background": #024742, "color": #ffffff, ),
        "800": ( "background": #024742, "color": #ffffff, ),
        "900": ( "background": #012421, "color": #ffffff, ),
    ),
    "secondary": (
        "25" : ( "background": #fcfcfd, "color": #667085, ),
        "50" : ( "background": #f9fafb, "color": #667085, ),
        "100": ( "background": #f2f4f7, "color": #667085, ),
        "200": ( "background": #eaecf0, "color": #667085, ),
        "300": ( "background": #d0d5dd, "color": #ffffff, ),
        "400": ( "background": #98a2b3, "color": #ffffff, ),
        "500": ( "background": #667085, "color": #ffffff, ),
        "600": ( "background": #475467, "color": #ffffff, ),
        "700": ( "background": #344054, "color": #ffffff, ),
        "800": ( "background": #1d2939, "color": #ffffff, ),
        "900": ( "background": #101828, "color": #ffffff, ),
    ),
    "success": (
        "25" : ( "background": #f6fef9, "color": #027a48, ),
        "50" : ( "background": #ecfdf3, "color": #027a48, ),
        "100": ( "background": #d1fadf, "color": #027a48, ),
        "200": ( "background": #a6f4c5, "color": #027a48, ),
        "300": ( "background": #6ce9a6, "color": #ffffff, ),
        "400": ( "background": #32d583, "color": #ffffff, ),
        "500": ( "background": #12b76a, "color": #ffffff, ),
        "600": ( "background": #039855, "color": #ffffff, ),
        "700": ( "background": #027a4b, "color": #ffffff, ),
        "800": ( "background": #05603a, "color": #ffffff, ),
        "900": ( "background": #054f31, "color": #ffffff, ),
    ),
    "warning": (
        "25" : ( "background": #fffcf5, "color": #b54708, ),
        "50" : ( "background": #fffaeb, "color": #b54708, ),
        "100": ( "background": #fef0c7, "color": #b54708, ),
        "200": ( "background": #fedf89, "color": #b54708, ),
        "300": ( "background": #fec84b, "color": #ffffff, ),
        "400": ( "background": #fdb022, "color": #ffffff, ),
        "500": ( "background": #f7a326, "color": #ffffff, ),
        "600": ( "background": #dc6803, "color": #ffffff, ),
        "700": ( "background": #b54708, "color": #ffffff, ),
        "800": ( "background": #93370d, "color": #ffffff, ),
        "900": ( "background": #7a2e0e, "color": #ffffff, ),
    ),
);

@mixin color($category, $level) {
    background-color: map.get($color, $category, $level, "background");
    color: map.get($color, $category, $level, "color");
}

/* stylelint-disable scss/comment-no-empty */
@each $category, $value in $color {
    $levels: map.keys($value);

    @each $level in $levels {
        $b: map.get($color, $category, $level, "background");
        $c: map.get($color, $category, $level, "color");

        @debug "BACKGROUND: #{$b}; COLOR: #{$c}";
    }
}
/* stylelint-enable scss/comment-no-empty */

@each $category, $value in $color {
    $levels: map.keys($value);

    @each $level in $levels {
        $b: map.get($color, $category, $level, "background");
        $c: map.get($color, $category, $level, "color");

        // .danger-25
        .#{$category}-#{$level} {
            background-color: $b;
            color: $c;
        }

        // .bg-danger-25
        .bg-#{$category}-#{$level} {
            background-color: $b;
        }

        // .color-danger-25
        .color-#{$category}-#{$level} {
            color: $c;
        }
    }
}
