@use 'sass:map';

$app-bg: #EDEEF1;
$base-white: #FFF;
$base-black: #000;
$border: #D0D5DD;

$errors: (
  ( "type": "error", "level": "25", "background": #FFFBFA, "color": #B42318),
  ( "type": "error", "level": "50", "background": #FEF3F2, "color": #B42318),
  ( "type": "error", "level": "100", "background": #FEE4E2, "color": #B42318), 
  ( "type": "error", "level": "200", "background": #FECDCA, "color": #B42318), 
  ( "type": "error", "level": "300", "background": #FDA29B, "color": #FFFFFF), 
  ( "type": "error", "level": "400", "background": #F97066, "color": #FFFFFF), 
  ( "type": "error", "level": "500", "background": #F04438, "color": #FFFFFF), 
  ( "type": "error", "level": "600", "background": #D92D20, "color": #FFFFFF), 
  ( "type": "error", "level": "700", "background": #B42318, "color": #FFFFFF), 
  ( "type": "error", "level": "800", "background": #912D17, "color": #FFFFFF), 
  ( "type": "error", "level": "900", "background": #7A271A, "color": #FFFFFF), 
);
$primary: (
  ( "type": "primary", "level": "25", "background": #e6eeee, "color": #024742),
  ( "type": "primary", "level": "50", "background": #e6eeee, "color": #024742),
  ( "type": "primary", "level": "100", "background": #e6eeee, "color": #024742), 
  ( "type": "primary", "level": "200", "background": #cddebb, "color": #024742), 
  ( "type": "primary", "level": "300", "background": #b3cdcb, "color": #024742), 
  ( "type": "primary", "level": "400", "background": #9abdba, "color": #024742), 
  ( "type": "primary", "level": "500", "background": #689b98, "color": #FFFFFF), 
  ( "type": "primary", "level": "600", "background": #035953, "color": #FFFFFF), 
  ( "type": "primary", "level": "700", "background": #024742, "color": #FFFFFF), 
  ( "type": "primary", "level": "800", "background": #024742, "color": #FFFFFF), 
  ( "type": "primary", "level": "900", "background": #012421, "color": #FFFFFF), 
);
$secondary: (
  ( "type": "secondary", "level": "25", "background": #fcfcfd, "color": #667085),
  ( "type": "secondary", "level": "50", "background": #f9fafb, "color": #667085),
  ( "type": "secondary", "level": "100", "background": #f2f4f7, "color": #667085), 
  ( "type": "secondary", "level": "200", "background": #eaecf0, "color": #667085), 
  ( "type": "secondary", "level": "300", "background": #d0d5dd, "color": #024742), 
  ( "type": "secondary", "level": "400", "background": #98a2b3, "color": #024742), 
  ( "type": "secondary", "level": "500", "background": #667085, "color": #FFFFFF), 
  ( "type": "secondary", "level": "600", "background": #475467, "color": #FFFFFF), 
  ( "type": "secondary", "level": "700", "background": #344054, "color": #FFFFFF), 
  ( "type": "secondary", "level": "800", "background": #1d2939, "color": #FFFFFF), 
  ( "type": "secondary", "level": "900", "background": #101828, "color": #FFFFFF), 
);
$success: (
  ( "type": "success", "level": "25", "background": #f6fef9, "color": #027A48),
  ( "type": "success", "level": "50", "background": #ecfdf3, "color": #027A48),
  ( "type": "success", "level": "100", "background": #d1fadf, "color": #027A48), 
  ( "type": "success", "level": "200", "background": #a6f4c5, "color": #027A48), 
  ( "type": "success", "level": "300", "background": #6ce9a6, "color": #FFFFFF), 
  ( "type": "success", "level": "400", "background": #32d583, "color": #FFFFFF), 
  ( "type": "success", "level": "500", "background": #12b76a, "color": #FFFFFF), 
  ( "type": "success", "level": "600", "background": #039855, "color": #FFFFFF), 
  ( "type": "success", "level": "700", "background": #027a4b, "color": #FFFFFF), 
  ( "type": "success", "level": "800", "background": #05603a, "color": #FFFFFF), 
  ( "type": "success", "level": "900", "background": #054f31, "color": #FFFFFF), 
);
$warning: (
  ( "type": "warning", "level": "25", "background": #fffcf5, "color": #B54708),
  ( "type": "warning", "level": "50", "background": #fffaeb, "color": #B54708),
  ( "type": "warning", "level": "100", "background": #fef0c7, "color": #B54708), 
  ( "type": "warning", "level": "200", "background": #fedf89, "color": #B54708), 
  ( "type": "warning", "level": "300", "background": #fec84b, "color": #FFFFFF), 
  ( "type": "warning", "level": "400", "background": #fdb022, "color": #FFFFFF), 
  ( "type": "warning", "level": "500", "background": #f7a326, "color": #FFFFFF), 
  ( "type": "warning", "level": "600", "background": #dc6803, "color": #FFFFFF), 
  ( "type": "warning", "level": "700", "background": #b54708, "color": #FFFFFF), 
  ( "type": "warning", "level": "800", "background": #93370d, "color": #FFFFFF), 
  ( "type": "warning", "level": "900", "background": #7a2e0e, "color": #FFFFFF), 
);

$colors: (
  $errors,
  $primary,
  $secondary,
  $success,
  $warning,
);

@each $color in $colors {
  @each $map in $color {
    $bg: map.get($map, "background");
    $color: map.get($map, "color");
    $level: map.get($map, "level");
    $type: map.get($map, "type");

    // @debug "MAP VALUES MAP VALUES  #{$type}, #{$level}, #{$bg}, #{$color}";

    .#{$type}-#{$level} {
      background-color: $bg;
      color: $color;
    }
  }
}
